.Rproj.user
.Rhistory
.RData
.Ruserdata
README.html
pgzero_monster_game.Rproj
/images/abstract-platformer-370-assets/
/images/alien-ufo-pack/
/images/assets-lettertiles-0/
/images/jumperpack_kenney/
/images/kenney-animalpack/
/images/kenney-backgroundelements/
/images/kenney_animalpackredux/
/images/moreenemiesanimations/
/images/physicspack/
/images/platformer-art-complete-pack-0/
/images/platformergraphics-buildings/
/images/puzzle-pack-ii/
/images/puzzlepack/
/images/roadtiles-textures/
/images/_ohne_lizenz/
/venv/
